body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    padding: 30px;
}

.form-wrapper {
    max-width: 900px;
    margin: auto;
    background-color: #1e293b;
    padding: 30px;
    border-radius: 15px;
}

h2,
p {
    text-align: center;
}

p {
    color: #cbd5e1;
    margin-bottom: 25px;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select,
.list-group-item {
    background-color: #334155;
    color: white;
    border: 1px solid #475569;
}

.form-control:focus,
.form-select:focus {
    background-color: #334155;
    color: white;
    box-shadow: none;
    border-color: #38bdf8;
}

.list-group-item {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #38bdf8;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0ea5e9;
}

.text-danger {
    font-size: 14px;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #14532d;
    color: #86efac;
    font-weight: bold;
}
